/* .cart {
    width: 100%;
    
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  } */