.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rosybrown;
    color: #fff;
  }
  
  .header .logo h1 {
    margin: 0;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header nav ul li {
    margin: 0 10px;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header .cart a {
    color:black;
    text-decoration: none;
  }
  
